html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#Haupt-Kasten {
    border: 0;
    width: 100%;
    max-width: 1510px;
    margin: 0 auto;
    padding: 16px;
    box-sizing: border-box;
}


#Haupt-Navigationsleiste {
    border: 0; 
    height: 120px;
    width: 100%;
    max-width: 1480px;
    border-radius: 32px;
    margin: 16px auto;
    background-color: white;
    box-shadow: -1px 4px 10px silver;
    box-sizing: border-box;
    
}

#Logo-Kasten{
    border: 0px solid black;
    width: 80px;
    height: 80px;
    border-radius: 16px;
    position: relative;
    left: 100px;
    top: 18px;
    box-shadow: -1px 4px 10px silver;
    background-repeat: no-repeat;
    background-image: url('Logo.png');
    background-position: center;
    background-size: 100% 100%;
    float: left;
}



#Option-Button {
    width: 50px;
    height: 50px;
    border: 0px solid black;
    position: relative;
    top:30%;
    left: 42%;
    text-align: center;
    float: left;

}



#menuButton {
    background-color: #ffffff;
    color: white;
    padding: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url(pngegg.png);
    background-position: center;
    background-size: 130% 130%;
    width: 45px;
    height: 45px;
    border: 0px solid black;
    position: relative;
    text-align: center;
}

#navigationsleiste {
    display: none; /* Ausgeblendet zu Beginn */
    background-color: #464646;
    padding: 10px;
    color: white;
    position: fixed;
    top: 145px;
    
    width: 89.5vw;
    height: 20vh;
    box-shadow: 0px 5px 10px black;
    box-sizing: border-box;
    border-radius: 16px;
    transform: scaleY(0); /* Startet zusammengefaltet entlang der Y-Achse */
    transform-origin: top; /* Ursprung der Animation oben */
    transition: transform 0.3s ease-out; /* Langsame Entfaltungsanimation */
    margin-left: 55px;
}

#navigationsleiste.aktiv {
    display: block; /* Leiste anzeigen */
    transform: scaleY(1); /* Entfaltet vollständig entlang der Y-Achse */
}


#Icons_Box{
    width: 98%;
    height: 160px;
    border: 0px solid black;
    position: relative;
    top:0;
    float: left;
    margin: 10px;

}

#Startseite-Button{
    width: 87%;
    height: 68px;
    border: 0px solid black;
    position: relative;
    top:5px;
    float: left;
    margin: 5px;
    margin-left: 7px;
    background-repeat: no-repeat;
    background-image: url(2276894-illustration-von-haus-symbol-kostenlos-vektor.jpg);
    background-position: center;
    background-size: 100% 100%;
    border-radius: 32px;
    margin-bottom: 15px;
}

#Startseite-Box{
    width: 6%;
    height: 120px;
    border: 0px solid black;
    position: relative;
    /* top: 10px; */
    float: left;
    margin: 20px;
    margin-left: 325px;
    font-family: "Century Gothic";
    margin-top: 0;
}



#Shop-Button{
    width: 87%;
    height: 68px;
    border: 0px solid black;
    position: relative;
    top:5px;
    float: left;
    margin: 5px;
    margin-left: 7px;
    background-repeat: no-repeat;
    background-image: url(gettyimages-1427418963-612x612.jpg);
    background-position: center;
    background-size: 100% 100%;
    border-radius: 32px;

}

#Shop-Box{
    width: 6%;
    height: 120px;
    border: 0px solid black;
    position: relative;
    margin-top: 0;
    float: left;
    
    margin-left: 90px;
    font-family: "Century Gothic";

}

#Shop-Text{
    margin-top: 0px;
    position: relative;
    top: 8px;
    left: 18px;

}


#Vergleich-Button{
    width: 87%;
    height: 68px;
    border: 0px solid black;
    position: relative;
    top:5px;
    float: left;
    margin: 5px;
    margin-left: 7px auto;
    background-repeat: no-repeat;
    background-image: url(3240810.jpg);
    background-position: center;
    background-size: 80% 80%;
    border-radius: 32px;

}

#Vergleich-Box{
    width: 6%;
    height: 120px;
    border: 0px solid black;
    position: relative;
    margin-top: 0;
    float: left;
    
    margin-left: 90px;
    font-family: "Century Gothic";

}

#Vergleich-Text{
    margin-top: 0px;
    position: relative;
    top: 8px;
    left: -12px;

}


#Kundendienst-Button{
    width: 87%;
    height: 68px;
    border: 0px solid black;
    position: relative;
    top:15px;
    float: left;
    
    margin-left: 7px;
    background-repeat: no-repeat;
    background-image: url(support-service-headphones-customer-icon-600nw-2447316297.png);
    background-position: center;
    background-size: 100% 100%;
    border-radius: 32px;

}

#Kundendienst-Box{
    width: 6%;
    height: 120px;
    border: 0px solid black;
    position: relative;
    margin-top: 0;
    float: left;
    
    margin-left: 90px;
    font-family: "Century Gothic";

}

#Kundendienst-Text{
    margin-top: 0px;
    position: relative;
    top:20px;
    left: -9px;
    color: white;
}




.Text{
    margin-top: 0px;
    position: relative;
    top: 8px;
    left: 4px;
    color: white;
}

/* Links in der Navigationsleiste */
.nav-link {
    margin-right: 20px;
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}





/* Für große Bildschirme (PCs) */
@media (min-width: 1024px) {
        #Startbild{
        width: 32%;
        height: 300px;
        border: 0px solid black;
        position: relative;
        top:30px;
        left: 80px;
        text-align: center;
        float: left;
        margin: 45px;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-image: url(Startbild.jpeg);
        background-position: center;
        background-size: 100% 100%;
        }
        #Starttext{
            width: 450px;
            height: 250px;
            border: 0px solid black;
            position: relative;
            top: 30px;
            left: 100px;
            text-align: center;
            float: left;
            margin: 45px;
            border-radius: 20px;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
            font-family: "Century Gothic";
        } 
        
        #Abschnitt1 {
            width: 100%;
            max-width: 1280px;
            border-bottom-left-radius: 40px;
            border-bottom-right-radius: 40px;
            border-top-left-radius: 40px;
            border-top-right-radius: 40px;
            height: 550px;
            border: 0px solid black;
            position: relative;
            top: 0;
            box-shadow: 0px 8px 20px gray;
        }


        #Starttext1{

            width: 450px;
            height: 250px;
            border: 0px solid black;
            position: relative;
            top:75px;
            left: 35px;
            text-align: center ;
            float: left;
            margin: 45px;
            color: rgb(215, 215, 215);
            border-radius: 20px;
            font-size: 25px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            flex-direction: column;
            font-family: "Century Gothic";
        }


}
