
#Scroll-roller {
    border: 0;
    height: 1800px;
    width: 100%;
    max-width: 1280px;
    border-radius: 32px;
    margin: 16px auto;
    background-color: white;
    
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

#Startbild{

    width: 30vw;
    height: 35vh;
    border: 0px solid black;
    position: relative;
    top:0;
    left: 40px;
    text-align: center;
    float: left;
    margin: 45px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-image: url(Startbild.jpeg);
    background-position: center;
    background-size: 100% 100%;
}

#Starttext{

    width: 450px;
    height: 250px;
    border: 0px solid black;
    position: relative;
    top:0;
    left: 40px;
    text-align: center ;
    float: left;
    margin: 45px;
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Century Gothic";
}

#Startbild1{

    width: 450px;
    height: 250px;
    border: 0px solid black;
    position: relative;
    top:0;
    right: 40px;
    text-align: center;
    float: right;
    margin: 45px;
    margin-top: 250px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-image: url(images.jpeg);
    background-position: center;
    background-size: 100% 100%;
}

#Starttext1{

    width: 450px;
    height: 250px;
    border: 0px solid black;
    position: relative;
    top:0;
    right: 60px;
    text-align: center ;
    float: right;
    margin: 45px;
    margin-top: 220px;
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Century Gothic";
}

#Startbild2{

    width: 450px;
    height: 250px;
    border: 0px solid black;
    position: relative;
    top:0;
    left: 40px;
    text-align: center;
    float: left;
    margin: 45px;
    margin-top: 220px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-image: url(images.jpeg);
    background-position: center;
    background-size: 100% 100%;
}

#Starttext2{

    width: 450px;
    height: 250px;
    border: 0px solid black;
    position: relative;
    color: rgb(0, 0, 0);
    top:0;
    left: 40px;
    text-align: center ;
    float: left;
    margin: 45px;
    margin-top: 220px;
    border-radius: 20px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: "Century Gothic";
}


#Abschnitt1{
    width: 100%;
    max-width: 1280px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 550px;
    border: 0px solid black;
    position: relative;
    top: 0;
    box-shadow: 0px 8px 20px gray;
}

#Abschnitt2{
    width: 100%;
    max-width: 1280px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height: 550px;
    border: 0px solid black;
    position: relative;
    top: 30px;
    box-shadow: -10px 8px 30px silver;
    background-color: rgb(92, 92, 92);
}